# streamlit
# spacy
# nltk
# python-docx
# PyPDF2
# pandas
# numpy
# scikit-learn
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1.tar.gz

streamlit
spacy==3.7.4
nltk
python-docx
PyPDF2
pandas
numpy<2.0
scikit-learn

transformers
torch
sentencepiece
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
